* {
  padding: 0px;
  margin: 0px;
}

.scene {
  perspective: 700px;
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;

  transform-style: preserve-3d;
  transform-origin: center center;
  transition: transform 1s;

  cursor: pointer;

  &--flip {
    transform: rotateY(-180deg);
  }

  &__face {
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 3rem;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    &--front {
      background: white;
      border: 1px solid red;
      transform: rotateY(180deg);
    }
    &--back {
      background: red;
    }
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  // display: flex;
  row-gap: 10px;
  column-gap: 20px;

  align-items: center;
  justify-items: center;
  height: 100vh;
}
